h1 {
    font-family: sans-serif;
    color: blue;
}

code {
    font-family: monospace;
    color: red;
}

code#second-li{
    color: green;
}

body{
    font-family: sans-serif;
}

li {
    font-family: inherit;
}

li.not-first {
    background: black;
    color: white;
}

ol li {
    background: black;
    color: white;
}